body{
  max-width: 1280px;
  font-family: Rubik;
  margin: 0;
  padding: 2rem;
  background-color: hsl(226, 43%, 10%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 46rem;
}

.container .client {
  width: auto;
  margin: .5rem 1rem;
}

.data-element-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  position: relative;
  z-index: 2;
}

.detail-container {
  margin: .5rem;
  width: 10.05rem;
}

.detail {
  padding: 1rem;
  color: white;
  position: relative;
  top: -1.5rem;
  z-index: 2;
  border-radius: 10px;
  background-color: hsl(236, 45%, 20%);
}

.detail:hover {
  background: hsl(235, 45%, 61%);
  cursor: pointer;
  transition: ease-in .15s;
}

.detail h1{
  font-size: 1.5rem;
  font-weight: 100;
  margin-block: .5rem;
}

.detail h6 {
  font-weight: 100;
  margin-block: .27rem;
}

.ellipsis-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ellipsis-container img{
  height: .2rem;
  margin-block: .4rem;
  cursor: pointer;
}

.ellipsis-container p{
  margin: 0;
  padding: 0;
  font-size: .7rem;
}

.profile {
  width: 8.5rem;
  height: 11rem;
  padding: 1rem;
  background-color: hsl(246, 80%, 60%);
  color: hsl(236, 100%, 87%);
  border-radius: 7px;
  position: relative;
  z-index: 2;
}

.profile-pic {
  width: 3rem;
  border: 2px solid white ;
  border-radius: 50px;
}

.period {
  display: flex;
  flex-direction: column;
  width: 8.5rem;
  height: 4.5rem;
  border-radius: 0 0 10px 10px;
  padding: 1.5rem 1rem;
  position: relative;
  top: -15px;
  background-color: hsl(235, 46%, 20%);
  color: hsl(235, 45%, 61%, 0.9);
  z-index: 1;
}

span {
  margin-block: .3rem;
  font-size: .7rem;
  width: 30%;
}

span:hover {
  cursor: pointer;
  color: white;
  transition: ease-in .15s;
}

h2, h6 {
  padding: 0%;
  margin: 0%;
  font-weight: 100;
}

h6 {
  margin-top: 1rem;
}

.timeframe h6 {
  color: rgba(255, 255, 255, 0.5);
}

h2 {
  color: white;
}

.image-container {
  height: 3.2rem;
  width: 9.98rem;
  display: flex; 
  justify-content: end;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.image-container img {
  height: 2.5rem;
  margin-right: 10px;
}

@media (max-width: 600px) {
  body {
    padding: 2rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    align-items: center;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 12vh;
    padding: 1rem 0;
    border-radius: 12px;
  }

  .profile-pic {
    height: 80%;
    width: auto;
    margin-right: .5rem;
  }

  .profile div {
    height: 3rem;
    padding: 0%;
    margin-left: 10px;
  }

  .profile h6 {
    margin-top: 0;
    font-size: .9rem;
  }

  .profile h2 {
    font-size: 1.5rem;
  }

  .period {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items:end;
    padding: 0;
  }

  span {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    margin: 2.2rem .5rem 1.3rem;
  }

  .data-element-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15%;
  }

  .detail-container,
  .image-container {
    width: 85vw;
  }

  .detail {
    top: -.9rem;
    height: auto;
    padding-top: 1.5rem;
  }

  .image-container img {
    height: 5rem;
  }

  .timeframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .timeframe h6 {
    margin-top: 1.2rem;
    font-size: 1rem;
  }

  .timeframe h1 {
    font-size: 2rem;
  }

  .ellipsis-container p {
    font-size: 1.2rem;
  }

  .ellipsis-container img {
    height: .3rem;
  }
}